<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2020 - 2023</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Technology</div>
            <h4 class="category">PSG College of Technology
            </h4>
            <ul>
              <li>🎓 PSG College of Technology Alumnus:
                I am a proud graduate of PSG College of Technology, a premier institution known for its commitment to
                excellence in
                education and innovation.</li>
              <li>🌐 Connect with PSG Alumni:
                I am passionate about staying connected with fellow PSG alumni and collaborating on projects that drive
                innovation.
                Let's connect and explore potential opportunities.</li>
              <li>📚 Continued Learning:
                Committed to continuous learning and professional development, I stay updated with the latest industry
                trends and
                technologies to bring value to any project or team.</li>
              <li>
                🔗 Let's Connect:
                I welcome connections from fellow PSG alumni, industry professionals, and anyone interested in
                networking. Feel free to
                reach out if you share similar professional interests or if you have exciting opportunities to discuss.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2017 - 2020</p>
            <div class="h5">Graduate Diploma</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Graduate Diploma</div>
            <h4 class="category">Sankar Polytechnic College
            </h4>
            <ul>
              <li>
                🎓 Sankar Polytechnic College Alumnus:

                Proud graduate of Sankar Polytechnic College, an institution committed to fostering technical excellence
                and nurturing
                future leaders in Computer Science. My time at Sankar Polytechnic has been instrumental in shaping my
                skills and
                providing a solid foundation for my career.
              </li>
              <li>
                🤝 Connect with Sankar Polytechnic Alumni:
                I'm keen on connecting with fellow Sankar Polytechnic alumni and professionals in the Computer Science
                sector. Let's
                share experiences and explore potential collaborations.
              </li>
              <li>
                🌱 Commitment to Learning:
                Committed to continuous learning and staying updated on the latest industry trends to contribute
                effectively to any
                project or team.
              </li>
              <li>
                🔗 Let's Connect:
                I welcome connections from fellow Sankar Polytechnic alumni, industry professionals, and individuals
                interested in EZIO
                Solution. Feel free to reach out for networking, discussions, or collaborative opportunities.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2016-2017</p>
            <div class="h5">Sedcondary School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Secondary School</div>
            <h4 class="category">Meenakshi Matriculation Higher Secondary School
            </h4>
            <ul>
              <li>🎓 Meenakshi Matriculation Higher Secondary School Alumnus:

                Proud graduate of Meenakshi Matriculation Higher Secondary School, where I laid the foundation for a
                lifelong journey of
                learning and personal growth. My time at Meenakshi has significantly shaped my character and equipped me
                with the skills
                necessary for success.
              </li>
              <li>
                🎭 Extracurricular Involvement:
                Actively participated in Youth Red Cross Society
              </li>
              <li>
                🤝 Connect with Alumni:
                Excited to connect with fellow Meenakshi Matriculation alumni and professionals in various fields. Let's
                share
                experiences, insights, and explore potential collaborations.
              </li>
              <li>
                🔗 Let's Connect:
                I welcome connections from fellow Meenakshi Matriculation alumni, educators, and professionals. Feel
                free to reach out
                for networking
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>